# Data Handling
pandas==2.2.2
numpy==1.26.4
pyarrow==16.1.0
fastparquet

# Machine Learning
scikit-learn
lightgbm

# Bayesian Optimization
bayesian-optimization==1.4.0

# LLM Client
openai==1.35.13
requests==2.32.3

# Streamlit UI
streamlit

# Utilities
tqdm
